.HeaderPanel {
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #F3F6F9;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    box-sizing: border-box;

    & .UsernameBox {
        border-radius: 5px;
        padding: 6px 8px;
        background: #F6CA65;
        color: #ffffff;
        font-weight: 600;
    }

    & .Username {
        color: #005B96;
        font-weight: bold;
    }
}