.HeaderTitleColor {
    color: #011F4B;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

.ContentColor {
    padding-bottom: 3em;
    color: #7E8299;
    font-weight: 500;
    font-size: 14px;
}