.Breadcrumb {
    display: flex;
    color: #011F4B;
    font-weight: 500;
    gap: 8px;

    & span {
        cursor: pointer;
        
        & > b {
            padding-left: 4px;
        }
    }

    & span:last-child {
        font-weight: 600;
    }
}