// tailwind.scss
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.react-datepicker-wrapper {
  width: 150px !important;
}

.mvp-content-panel {
  background: #f1fafe;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 25px;
  margin-right: 75px;
}

.mvp-content-panel-report {
  background: #f1fafe;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 25px;
}

.mvp-content-bottom-panel {
  background: #f1fafe;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 25px;
  margin-right: 75px;
  color: #011f4b;
  font-weight: bold;
}

.mvp-content-bottom-panel-report {
  background: #f1fafe;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 25px;
  color: #011f4b;
  font-weight: bold;
}

.footer-breadcrumb {
  display: flex;
  gap: 4px;
  color: #005b96;
  font-weight: bold;
}

.chart-color {
  height: 15px;
  width: 15px;
  left: 0px;
  top: 0px;
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: #011F4B
}

.blue-color {
  background: rgb(0, 143, 251) !important;
}

.purple-color {
  background: #A259FF;
}

.orange-color {
  background: #F24E1E;
}

.yellow-color {
  background: #FFC107;
}

.light-blue-color {
  background: #6497B1
}

.mvp-table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;

  & thead tr {
      background-color: #ffffff;
      padding: 8px;
      height: 40px;
      text-align: left;

      & th:first-child {
          border-top-left-radius: 0.3rem;
          border-bottom-left-radius: 0.3rem;
          padding-left: 12px;
      }

      & th:last-child {
          border-top-right-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          padding-left: 12px;
      }
  }

  & tbody tr {
      padding: 8px;
      height: 40px;

      &:nth-of-type(even) {
          background-color: #ffffff;
      }
      & td:first-child {
          border-top-left-radius: 0.3rem;
          border-bottom-left-radius: 0.3rem;
          padding-left: 12px;
      }

      & td:last-child {
          border-top-right-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          padding-left: 12px;
      }
  }
}

.apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
  background: #f1fafe;
  border-radius: 10px;
}
